/*
 *= require font-awesome
 *= require_self
 */
@import './*';

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a {
  cursor: pointer;
  text-decoration: underline;
}

.orange {
  color: orange;
}

.body {
  color: gray;
}

.header {
  box-sizing: border-box;
  border-bottom: 2px solid #ff8600;
  background-color: white;
  height: 65px;
  position: relative;
  .logo {
    background-image: url(/assets/logo);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    float: left;
    &:after {
      content: 'staff';
      font-size: 20px;
      font-family: cursive;
      padding: 0px 10px 0px 8px;
      border-radius: 10px;
      background: rgba(255,69,0, 0.7);
      color: white;
      position: absolute;
      top: 5px;
      left: 140px;
      transform: rotate(18deg);
    }
  }
  .site_title {
    font-size: 30px;
    font-family: 'arial unicode ms';
    position: absolute;
    right: 20px;
    top: 20px;
    &.beta:after {
      content: 'β';
      font-size: 20px;
      position: absolute;
      top: -5px;
      right: 15px;
      color: #ff8600;
    }
  }
}

.side_nav {
  width: 225px;
  height: 1000px;
  float: left;
  border-right: solid 1px #ff8600;
  .search {
    input {
      margin: 10px 15px 5px;
      padding: 5px 10px;
      font-size: 15px;
      border: solid 1px #ccc;
      width: 160px;
    }
    background: oldlace;
    .other_query {
      font-size: 11px;
      text-align: center;
      padding-bottom: 5px;
      .hide_btn {
        display: none;
      }
      &.active .queries {
        position: static;
        visibility: visible;
        opacity: 1;
      }
      .queries {
        position: absolute;
        transition: .5s;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        width: 182px;
        margin-left: 15px;
        .select_group {
          position: relative;
          background: white;
          border: 1px solid lightgray;
          border-radius: 0px;
          margin: 5px 0px;
          select {
            width: 100%;
            height: 30px;
            color: gray;
            background: rgba(256,256,256,0);
            border: none;
            font-size: 13px;
            padding: 0px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            z-index: 1;
            cursor: pointer;
          }
          &:after {
            content: '\f078';
            font-family: 'FontAwesome';
            position: absolute;
            top: 10px;
            right: 8px;
            color: gray;
          }
        }
      }
    }
  }
  .staff_list {
    margin: 5px 0px 5px 10px;
    font-size: 13px;
    .staff {
      margin-bottom: 10px;
      &:before {
        content: '\f0eb';
        font-family: FontAwesome;
      }
      &.has_slide {
        &:before {
          color: orange;
        }
      }
      a {
        color: initial;
      }
    }
  }
}

.main {
  float: left;
  width: calc(100% - 230px);
  position: relative;
}
